
<% content_for :page_title, "Welcome to Mr. Healing" %>

<h2 class="head"> To reserve a Massage Chair, click the <strong>reserve</strong> button below</h2>

</br>
</br>


<strong><%= link_to "Reserve", new_user_path , class: "button" %></strong>
