

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @user.Telephone %>
</p>

<p>
  <strong>Time:</strong>
  <%= @user.time %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
