<!DOCTYPE html>
<html>
  <head>
    <title>MrHealingV1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Mr. Healing
      </h1>
      <h2 class="subtitle">
        
      </h2>
    </div>
  </div>
</section>
    <%= yield %>
  </body>
</html>
